*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main.container {
  margin: 10px;
}

/* Reset link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Basic navigation styling */
.navigation {
  background-color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
  color: #fff;
}

.logout-button {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  font-size: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #555;
}

.notification-message {
  background-color: rgb(192, 192, 192);
  margin: 10px;
  padding: 10px;
  font-size: 21px;
  border-radius: 10px;
}
